@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  box-sizing: border-box;
}

a {
  color: black;
}

body {
  cursor: url("../img/cursor.png"), auto;
  overflow-x: hidden;
  margin: 0;
  width: 100vw;
  background-image: url("../img/macbg.jpg");
  background-size: cover;
  font-family: "Roboto Mono";
}

#header {
  opacity: 0.9;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 100px;
  background: linear-gradient(0deg, rgb(173, 173, 173) 0%, rgb(255, 255, 255) 100%);
  color: black;
  box-shadow: 0px 0px 10px black;
  display: flex;
  align-items: center;
}
#header img {
  cursor: pointer;
  margin-right: 20px;
  width: 40px;
  height: 40px;
}
#main-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  #main-container {
    flex-direction: column;
  }
  #main-container #menu {
    width: 100%;
  }
  #main-container #cards-container {
    width: 100%;
    margin: 0;
  }
  #main-container #cards-container > div {
    width: 60%;
    margin: 35 auto;
  }
  #header {
    padding-left: 15px;
  }
  #cards-container > div div:nth-child(3) {
    text-align: center;
  }
}

@media screen and (max-width: 600px)
{
  #feedback {
    bottom: 35px;
    margin-bottom: 25px;
    color: white;
  }
  #about {
    bottom: 35px;
    margin-bottom: 25px;
    color: white;
  }
}

#menu {
  transition: 0.5s;
  position: relative;
  margin-top: 35px;
  height: fit-content;
  width: 20%;
  background-color: rgb(229, 229, 229);
  box-shadow: 0px 0px 10px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#menu div {
  color: black;
}
#menu div:hover {
  color: rgb(80, 80, 80);
  cursor: url("../img/pointer.png"), pointer;
}
#menu::before {
  content: "";
  box-shadow: 0 1px 1px gray;
  position: absolute;
  height: 20px;
  width: 100%;
  top: -20px;
  left: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(0deg, rgb(173, 173, 173) 0%, rgb(255, 255, 255) 100%);
}
#menu::after {
  content: "";
  position: absolute;
  background-image: url("../img/tricolor.png");
  background-size: cover;
  height: 20px;
  width: 51px;
  top: -20px;
  left: 4px;
}

#cards-container {
  margin-left: 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cards-container-macos {
  transition: 0.5s;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 15px;
  margin-top: 35px;
  padding: 15px;
  background-color: rgb(229, 229, 229);
  box-shadow: 0px 0px 10px black;

  position: relative;
  text-align: center;
  width: 250px;
  height: 350px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#cards-container > div img {
  width: 90%;
}
#cards-container > div div:nth-child(3) {
  min-height: 80px;
  text-align: left;
  font-size: 15px;
}
#cards-container > div div:nth-child(4):hover {
  cursor: pointer;
  color: rgb(80, 80, 80);
  cursor: url("../img/pointer.png"), pointer;
}
#cards-container > div::before {
  content: "";
  box-shadow: 0 1px 1px gray;
  position: absolute;
  height: 20px;
  width: 100%;
  top: -20px;
  left: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(0deg, rgb(173, 173, 173) 0%, rgb(255, 255, 255) 100%);
}
#cards-container > div::after {
  content: "";
  position: absolute;
  background-image: url("../img/tricolor.png");
  background-size: cover;
  height: 20px;
  width: 51px;
  top: -20px;
  left: 4px;
}

#footer {
  position: fixed;
  width: 100%;
  height: 30px;
  line-height: 30px;
  bottom: 0px;
  text-align: center;
  box-shadow: 0px 0px 10px black;
  background: linear-gradient(0deg, rgb(173, 173, 173) 0%, rgb(255, 255, 255) 100%);
  color: black;
}

#feedback {
  position: fixed;
  bottom: 7.5px;
  right: 7.5px;
}
#feedback:hover {
  cursor: pointer;
  color: rgb(80, 80, 80);
}

#about {
  position: fixed;
  bottom: 7.5px;
  left: 7.5px;
}
#about:hover {
  cursor: pointer;
  color: rgb(80, 80, 80);
}

.cards-container-macos:hover {
background-color: #b3b3b3;	
}
#menu:hover {
background-color: #b3b3b3;	
}
#name:hover
{
  cursor: pointer;
}

.panel
{
  display: block;
  position: relative;
  top: 50px;
  left: -2000px;
  padding: 20px;
  border-radius: 20px;
  height: auto;
  width: 100%;
  max-width: 1200px;
  min-height: 175px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.45);
  font-size: 20px;
  text-shadow: 0px 0px 6px rgba(0,0,0,0.2);
  visibility: 100%;
}

#panel_mac.notvisible
{
  transition: 1s;
}

#panel_mac.visible
{    
  transition: 1s;
  transform: translateX(2000px);
}

#panel_mac.hidden
{
  left: 0;    
  transition: 1s;
  transform: translateX(2000px);
}

#panel_mac.visible2
{
  left: 0;
  transition: 1s;
  transform: translateX(0px);
}

#cards_panel-container
{
  max-width: 80%;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}